<div *ngIf="hero" class="container">
  <h2>{{hero.name | uppercase}} Details</h2>
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>name</mat-label>
        <input matInput type="text" class="form-control" id="name" 
          required 
          [(ngModel)]="hero.name" name="name" 
          #name="ngModel">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>alter ego</mat-label>
        <input matInput type="text" class="form-control" id="alter-ego" 
          [(ngModel)]="hero.alterEgo" name="alter-ego">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>hero power</mat-label>
        <mat-select id="power"
          required
          [(ngModel)]="hero.power" name="power">
          <mat-option *ngFor="let pow of powers" [value]="pow">{{pow}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <button type="button" mat-raised-button color="primary" (click)="newHero(); heroForm.reset()">new hero</button>
    <button type="button" mat-raised-button color="primary" (click)="goBack()">go back</button>
    <button type="submit" mat-raised-button color="accent" [disabled]="!heroForm.form.valid">save</button>
    
  </form>
</div>