<form>
  <mat-form-field appearance="fill">
    <mat-label>hero search</mat-label>
    <input type="text"
      aria-label="hero search"
      matInput
      #searchBox
      id="search-box"
      (input)="search(searchBox.value)"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let hero of heroes$ | async" [value]="hero.name">
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>